<!DOCTYPE html>
<html>
<head>
    <title>LogWhiz</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
</head>
<body>
    <div class="whiznav">
        <img height='50px' src="{{ url_for('static',filename='wizard.svg') }}">
        <a>LogWhiz</a>
        <div class="search-container">
            <form action='/Search' method="post">
                <input type="text" placeholder="Search..." name="search_string">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="logbox">{{ search_data }}</div>
    <div>Last Read: {{last_read_time}}</div>
    <div class="icon_div">
        <img class="log_icon" src="{{ url_for('static',filename='error.png') }}">
        <span class="icon_span">Errors: {{error_count}}</span>
        <button id="error_button" type="button" class="btn btn-info" data-toggle="collapse" data-target="#errors">show</button>
    </div>
    <div id="errors" class="collapse">
        <div class="error_warn">
            {{error_data}}
        </div>
    </div>
    <div class="icon_div">
        <img class="log_icon" src="{{ url_for('static',filename='warn.png') }}" >
        <span class="icon_span">Warnings: {{warn_count}}</span>
        <button id="warn_button" type="button" class="btn btn-info" data-toggle="collapse" data-target="#warnings">show</button>
    </div>
    <div id="warnings" class="collapse">
        <div class="error_warn">
            {{warn_data}}
        </div>
    </div>
</body>
</html>